$sizes: () !default;

$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

.font-size {
  @each $key in map-keys($sizes) {
    $value: map-get($sizes, $key);

    &-#{$key} {
      font-size: calc(1em #{$value});
    }
  }

  &-none {
    font-size: 0;
  }

  &-regular,
  &-normal {
    font-size: 1rem;
  }
}
